{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora nutricional</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
      
    <h1>Diet Creator</h1>
    <p>Para criamos uma dieta que se ajuste ao seu caso e corpo, primeiro precisamos definir alguns dados, para isso preencha os campos abaixos.</p>

    <form class="form">
        <div class="form-group">
            Eu sou:
            <input type="checkbox" class="btn-check" id="btc-check" autocomplete="off">
            <label class="btn btn-primary" for="btn-check" style="background-color: rgb(67, 94, 248);">Homem</label>

            <input type="checkbox" class="btn-check" id="btc-check" autocomplete="off">
            <label class="btn btn-primary" for="btn-check" style="background-color: rgb(255, 67, 145);">Mulher</label>


            <label for="numberField">Digite sua altura sem pontos:</label>
            <input type="number" class="form-control" id="numberField" maxlength="3" name="numberField" placeholder="Ex.: 187">

        </div>
        <label for="numberField">Digite o seu peso</label>
        <input type="number" class="form-control" id="numberField" maxlength="3" name="numberField" placeholder="Ex.: 78">

        <label for="numberField">Digite a sua idade</label>
        <input type="number" class="form-control" id="numberField" maxlength="3" name="numberField" placeholder="Ex.: 20">

        <select class="form-select" aria-label="Default select example">
            <option selected>Selecione o seu nível de atividade física</option>
            <option value="1">Leve</option>
            <option value="2">Moderada</option>
            <option value="3">Intensa</option>
        </select>


    </form>
    </div> 
</body>
</html>